.container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
    

    .login {
        height: 80%;
        min-height: 400px;
        width: clamp(400px, 50%, 1000px);
        background-color: rgb(255, 255, 255, 0.9);
        border-radius: 15px;
    }

    img {
        width: 50%;
        animation: logo 1s ease;
        margin-bottom: 10px;
    }
}

@keyframes logo {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.2);
    }

    85% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}